# Python temporary files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# OS files
.DS_Store
Thumbs.db

# Frontend
.vscode/
node_modules/

# Files larger than 100MB (GitHub limit)
biodiversity_model.h5
*.npy
*.h5
kaira ai/dataset.csv
